h4{
    font-family: 'Yaldevi', sans-serif;
    color: #7e65ee ;
    letter-spacing: 5px;
    font-size:15px;
}
h6 {
    font-family: 'Yaldevi', sans-serif;
    color: #705d09 ;
    letter-spacing: 2px;
    font-size:12px;
}