<div class="container marco w-50 my-5">
    <h3>G E S T I C - soporte </h3>
    <div class="d-flex flex-column">
        <div class="row g-3 align-items-center">
            <div class="col-auto py-3">
                <label for="nombre" class="col-form-label normal">Nombre</label>
            </div>
            <div class="col-auto py-3">
            <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto py-3">
                <label for="apellidos" class="col-form-label normal">Apellidos</label>
            </div>
            <div class="col-auto py-3">
            <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto py-3">
                <label for="email" class="col-form-labe normal">Email</label>
            </div>
            <div class="col-auto py-3">
            <input type="email" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>
        <div class="column g-3 align-items-center">
            <div class="col-auto">
                <label for="descripcion" class="col-form-label">En que podemos ayudarte</label>
                <textarea class="form-control" rows="7"></textarea>
            </div>

        </div>
        <div class="d-flex flex-column justify-content-center">
            <button type="button" class="btn btn-light text-secondary">Enviar</button>
        </div>
    </div>
</div>
