h3 {
    font-size: 20px;
    font-family: 'Yaldevi', sans-serif;
    color: #d7e2e9 ;
    padding-bottom: 15px;
    background-color: #344e5f;
    text-align: center;
    padding-top: 5px ;
    margin-bottom: 20px;
}

label{
    width: 150px;
    font-family: 'Yaldevi', sans-serif;
}
