<div class="container mt-5 ">
    <form [formGroup]="formularioRecordar" (ngSubmit)="recogerDatos()" novalidate>
    <div class="card shadow-lg p-3 mb-5 rounded">
        <h3>Recordar Contraseña</h3>
        <label for="email">Introduzca su Email:</label>
        <input type="email" name="email" class="form-control w-50" formControlName="email" [ngClass]="{'is-invalid':!formularioRecordar.get('email')?.valid}">
        <div class="invalid-feedback">El campo Email no cumple los requisitos</div>

        <button type="submit" class="btn btn-success w-25 mt-3" [disabled] = "formularioRecordar.invalid">Enviar</button>
    </div>
    </form>
    <div class="d-flex flex-row justify-content-center">
        <a routerLink="/"><button type="button" class="btn btn-dark mt-3" >Login</button></a>
    </div>
</div>
