<div class="tamano">
<div class="container d-flex justify-content-center">
    
    <div class="container m-5">
        <div class="d-flex justify-content-between">
            <div class="p-2"><h3>Datos del Usuario</h3></div>
            <div class="p-2">
                <a routerLink='/usuario/actualizar'><img src="./assets/editar.png" width="30px" height="35px"></a>
            </div>
        </div>
        <div class="card shadow-lg p-3 mb-5 rounded">
            <div class="d-flex flex-row justify-content-center pb-3">
                <div class="p-2 w-25">
                    <img src='http://gestic/storage/{{usuarioInyectado.usuario.avatar}}' width="75px" height="75px" alt="">
                </div>
                <div [class]="clase_activo">
                    <div class="d-flex flex-column justify-content-start">
                        <div class="p-2">
                            <span class="titulo">Nombre: </span>
                            <span class="usuario"> {{usuarioInyectado.usuario.nombre }} {{usuarioInyectado.usuario.apellidos }} </span>
                        </div>
                        <div class="p-2">
                            <span class="titulo">Correo: </span>
                            <span class="usuario">{{ usuarioInyectado.usuario.email }}</span>
                        </div>
                    </div>
                </div>   
            </div>
            <hr>
            <div class="d-flex flex-wrap justify-content-start">
                <div class="p-2">
                    <div class="d-flex flex-row justify-content-start">
                        <div class="p-2">
                            <h4 class="titulo">Domicilio: </h4>
                        </div>
                        <div class="p-2">
                            <span class="departamento">{{usuarioInyectado.usuario.domicilio}}</span>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-start">
                        <div class="p-2">
                            <h4 class="titulo">Localidad: </h4>
                        </div>
                        <div class="p-2">
                            <span class="departamento">{{usuarioInyectado.usuario.localidad}}</span>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div class="d-flex flex-row justify-content-start">
                        <div class="p-2">
                            <h4 class="titulo">Municipio: </h4>
                        </div>
                        <div class="p-2">
                            <span class="departamento">{{usuarioInyectado.usuario.municipio}}</span>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-start">
                        <div class="p-2">
                            <h4 class="titulo">Código Postal: </h4>
                        </div>
                        <div class="p-2">
                            <span class="departamento">{{usuarioInyectado.usuario.codigo_postal}}</span>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <!--cambiar posicion no se ve en tamaño movil-->
                    <div class="d-flex flex-row justify-content-start">
                        <div class="p-2">
                            <h4 class="titulo">Teléfono: </h4>
                        </div>
                        <div class="p-2">
                            <span class="departamento">{{usuarioInyectado.usuario.movil}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex flex-row justify-content-center">
                    <div class="p-2 w-50">
                        <div class="d-flex flex-row">
                            <div class="p-2">
                                <h4 class="titulo">Departamento: </h4>
                            </div>
                            <div class="p-2">
                                <span class="departamento">{{departamento_usuario}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 w-50">
                        <div class="d-flex flex-row">
                            <div class="p-2">
                                <h4 class="titulo">Perfil: </h4>
                            </div>
                            <div class="p-2">
                                <span class="perfil">{{perfil_usuario}}</span>
                            </div>
                        </div>
                    </div>
            </div>
            <hr>
            <div class="d-flex flex-row justify-content-center">
                <span>Usuario en </span>&nbsp;<span class="rojo"> ROJO </span>&nbsp;
                <span>aún NO activo.</span><br>&nbsp;
                <span>Usuario en </span>&nbsp;<span class="verde"> VERDE </span>&nbsp;
                <span>SI está activo.</span>
            </div>
        </div>
    </div>
    
</div>
<div class="d-flex flex-row justify-content-center pb-5">
        <a routerLink="/escritorio"><img src="./assets/volver.png" width="30px" height="30px"></a>
</div>
</div>
